<div class="container" id="main">
  <div class="row">
    <div class="col-md-3" id="about">
      <ul>
      <% Catalog.about.child.each do |cat| %>
        <li><%= link_to cat.name, about_path(cat.slug) %></li>
      <% end %>
      </ul>
    </div>

    <div class="col-md-9" id="view">
      <% if @page %>
      <h3><%= @page.title %></h3>
      <div class="description"><%= @page.body %></div>
      <% else %>
      <h3>内容无法显示</h3>
      <small>找不到该内容 已被删除或不存在</small>
      <% end %>
    </div>
  </div>
</div>