<script type="text/javascript" src="/scripts/category.json"></script>
<script type="text/javascript">
window.Treeview = {
  tree : [],
  multiValue : 0,

  render : function(nodes, target, parent ){
    target = arguments.length > 2 ? target : 'category';
    
    Treeview.tree[0] = '<option value="0"> 选择上线分类 ...</option>';
    Treeview.loop(nodes, parent, 0);

    $('#' + target).append( Treeview.tree.join("\n") );
  },

  loop : function(nodes, parent, depth){
    for(var i=0, e=nodes.length; i<e; i++){
      node = nodes[i];
      label = '|-';
      for(var k=0; k < depth; k++){
        label += '-';
      }
      
      if( Treeview.multiValue ) id = '' == parent ? node['id'] : parent + ',' + node['id'];
      else id = node['id'];

      pp = '' == parent ? node['id'] : parent + ',' + node['id'];

      Treeview.tree[Treeview.tree.length] = '<option value="'+ id +'">'+ label + node['name'] +'</option>';
      if ( node.child.length > 0 ) Treeview.loop(node['child'], pp , depth + 1);
    }
  }
}
</script>