<div class="container" id="main">
  <div class="row">    
    <div class="col-md-8 list">
      <div class="toolbar">
        <a href="">全部</a>
        <span class="sparator">-</span>
        <a href="">精华</a>
        <span class="sparator">-</span>
        <a href="">知识</a>
        <span class="sparator">-</span>
        <a href="">问答</a>

        <span class="sparator">|</span>

        <a href="">最新</a>
        <span class="sparator">-</span>
        <a href="">最多回复</a>
      </div>
      <div class="topics">
        <%= render partial: 'topic', collection: @topics %>
      </div>
    </div>

    <div class="col-md-4 sider">
      <div class="new">
        <%= link_to new_topic_path do %>
        <span class="round box"><i class="glyphicon glyphicon-edit"></i>发表新话题</span>
        <% end %>
      </div>

      <div class="users">
        <div class="hd"><h5>最活跃用户</h5></div>
        
      </div>
    </div>
  </div>
</div>