<div class="container" id="main">

  <%= render 'profile' %>

  <div class="row mt20">
    <div class="col-md-12">
      <ul class="items">
        <%= render partial: 'items/item', collection: @items %>
      </ul>
    </div>
  </div>
</div>