<div class="container" id="main">
  <%= render 'profile' %>

  <div class="row mt20">
    <div class="col-md-12">
      <% if @topics %>
      <ul >
        <% @topics.each do |topic| %>
        <li>
          <%=topic.node.name %>
          <%=link_to topic.title, topic_path(topic.id) %>
          <%=topic.created_at.to_s(:short)%>
        </li>
        <% end %>
      </ul>
      <% else %>
      <h2>还没有发表话题</h2>
      <% end %>
    </div>
  </div>
</div>