<div id="footer">
  <div class="container">
    <div class="row one">
      <div class="col-md-2">
        <h3><a href="/" class="logo"></a></h3>
      </div>
      <div class="col-md-6">
        <div class="serial">
          <h3>公司</h3>
          <%= render_about_links %>
        </div>

        <div class="serial">
          <h3>社区</h3>
          <ul>
            <li><a href="#">问答</a></li>
            <li><a href="#">主题</a></li>
            <li><a href="#">推广</a></li>
          </ul>
        </div>

        <div class="serial">
          <h3>帮助</h3>
          <ul>
            <li><a href="#">进入社区讨论</a></li>
            <li><a href="#">如何发布单品</a></li>
            <li><a href="#">如何发布搭配</a></li>
            <li><a href="#">如何申请达人</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <h3>分享</h3>
        <div><%= image_tag('share.png')%></div>
      </div>
    </div>

    <div class="row two">
      <div class="col-md-12">
        <p> © 厦门快鱼信息技术有限公司  保留所有解释权</p>
      </div>
    </div>
  </div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1f3023f0dd4f4841dc7f13113cd1d93d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>