<div id="footer">
  <div id="footer-inner">
    <div class="group">
      <div class="footer-links">
        <p class="logo"></p>
      </div>
      <div class="footer-links">
        <h3>公司</h3>
        <ul>
          <% Catalog.about.child.limit(4).each do |about| %>
          <li><%= link_to about.name, about_path(about.slug)%></li>
          <% end %>
        </ul>
      </div>

      <div class="footer-links">
        <h3>社区</h3>
        <ul>
          <li><a href="#">问答</a></li>
          <li><a href="#">主题</a></li>
          <li><a href="#">推广</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h3>帮助</h3>
        <ul>
          <li><a href="#">进入社区讨论</a></li>
          <li><a href="#">如何发布单品</a></li>
          <li><a href="#">如何发布搭配</a></li>
          <li><a href="#">如何申请达人</a></li>
        </ul>
      </div>

    </div>


    <p>Copyright © 2011–2014 Quick Fish LLC. 所有内容版权归属各作者所有 未经授权不得转载.</p>

    <p class="follow">
    </p>
  </div>
</div>

<div id="gotop"></div>
<script type="text/javascript">
$(document).ready(function(){
  var  $goTop = $('#gotop');
    $goTop.click(function() {$("html, body").animate({ scrollTop: 0 }, 300);});
  $backToTopFun = function() {var st = $(document).scrollTop(), winh = $(window).height();(st > 200)? $goTop.fadeIn(300): $goTop.fadeOut(300);};
    $(window).bind("scroll", $backToTopFun);
    $backToTopFun();
})
</script>