<div style="width:650px; margin:50px auto;">
  <iframe scrolling='no' frameborder='0' src='http://yibo.iyiyun.com/Home/Distribute/ad404/key/5320' width='654' height='470' style='display:block;'></iframe>
</div>