<ul class="pagehead-actions">
  <li>
    <%= link_to like_item_path(target), rel: 'nofollow', class: "#{who_liked_this? target} btn like btn-xs with-count" do %>
    <span class="glyphicon glyphicon-heart"></span>喜欢
    <% end %>
    <span class="social-count"><%= target.likes_count %></span>
  </li>

  <li>
    <a href="/" class="btn btn-xs with-count favourite" rel="nofollow">
      <span class="glyphicon glyphicon-star"></span>收藏
    </a>
    <span class="social-count">0</span>
  </li>

  <li>
    <a href="/" class="btn btn-default btn-xs with-count" rel="nofollow">
      <span class="glyphicon glyphicon-share"></span>分享到
    </a>
    <span class="social-count">
      <%= social_share_button_tag(target.title) %>
    </span>
  </li>
</ul>