<div class="container" id="main">
  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for @item do |f| %>
        <%= render "shared/error", :target => @item %>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="http://">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">发布!</button>
          </span>
        </div><!-- /input-group -->
      <% end %>

      <h5>目前支持网站</h5>
      <ul class="sites">
        <li> 淘宝 </li>
        <li> 天猫 </li>
        <li> 京东 </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h5> 帮助 </h5>
    </div>
  </div>
</div>