<div class="container" id="main">
  <div class="row">
      
    <div class="col-md-8" id="item">

      <div class="alert alert-warning hide fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>请输入正确的网址</p>
      </div>

      <div class="input-group">
        <input type="text" class="form-control" name="url" placeholder="http://">
        <span class="input-group-btn">
          <button class="btn btn-default" id="fetch" type="button">获取宝贝信息!</button>
        </span>
      </div>


      <h5>目前支持网站</h5>
      <ul class="sites">
        <li> 淘宝 </li>
        <li> 天猫 </li>
        <li> 京东 </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h5> 帮助 </h5>
    </div>
  </div>
</div>

<script id="template-item" type="text/x-tmpl">
<div class="links clearfix">
  <ul>
    <li class="clearfix">
      <a href="{%=o.url%}">
        <span class="pic"><img src="{%=o.cover%}" width="27" /></span>
        <span class="title">{%=o.title%}</span>
        <span class="price">&yen;{%=o.price%}</span>
        <span class="buy">去看看</span>
      </a>
    </li>
  </ul>
</div>
</script>

<% content_for :scripts do %>
<script src="/scripts/tmpl.min.js"></script>
<script type="text/javascript">
$(document).on('click', '#fetch', function(){
  var url = $('input[name="url"]').val();
  if( url.length < 12 ){
    $('.alert').removeClass('hide').addClass('show');
    return false;
  }

  $.ajax({
    type : 'GET',
    url : '/items/fetch',
    data : {url: url},
    dataType : 'HTML',
    success : function(html, status, xhr){
      if ( 201 == xhr.status ){
        $('#item').html(html);
      }else{
        json = $.parseJSON(html);
        if(json[0] < 0){
          $('.alert').removeClass('hide').addClass('show').find('p').html('<h5>目前支持该网站或网址不正确!</h5>');
        }else{
          $('.alert').removeClass('hide').addClass('show').find('p').html('<h5>相同的宝贝已经存在!</h5>');
          $('.alert').after( tmpl('template-item', json) );
        }
      }
    }
  });
});
</script>
<% end %>