<div class="container" id="main">
  <div class="row edit">
    <div class="col-md-2 col-md-offset-1 sider">
      <%= render 'sider' %>
    </div>

    <div class="col-md-8 main">
      <%= render "shared/error", :target => resource if params[:by].blank? %>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,  class: 'form-horizontal', size: '30' } ) do |f| %>
      
        <%= f.input :name, label: '显示名字' %>
        
        <%= f.input :email, label: '邮件地址', :input_html => {:disabled => (!resource.email.blank?) } %>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.submit "更新资料", :class => "btn btn-xs btn-primary", 'data-disable-with' => t("common.submitting") %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>