/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require default
 *= require_self
 */

body{background: rgb(243,243,243) url(/assets/body-bg.png) no-repeat;}
ol,ul {list-style: none; padding: 0; margin: 0}

/* footer style */
#footer {
  border-top: 1px solid #ddd
}

#footer-inner {
  max-width: 970px;
  margin: 0 auto;
  padding: 30px 10px 20px 10px;
  font-size: 12px;
  color: #999
}

#footer a {
  font-weight: bold;
  color: #777
}

#footer a:hover {
  text-decoration: none;
  color: #ea4c89
}

#footer p {
  clear: left;
  margin: 0 15px 10px 0;
  line-height: 1.6
}

#footer p.logo {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #999
}

#footer p.logo a img {
  float: left;
  margin: 0 10px 0 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease
}

#footer p.logo a:hover img {
  opacity: .8
}

#footer p.follow a {
  margin: 0 5px 0 0
}

#footer p.follow a img {
  opacity: .37;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%
}

#footer p.follow a:hover img {
  opacity: .72
}

#footer a.footer-pro span.badge,#footer a.footer-pro span.badge-sale {
  position: relative;
  top: -1px;
  font-size: 9px;
  line-height: 1.5;
  background-color: #bbb
}

#footer a.footer-pro:hover {
  color: #f83
}

#footer a.footer-pro:hover span.badge,#footer a.footer-pro:hover span.badge-sale {
  background-color: #f83
}

#footer div.footer-links {
  float: left;
  width: 200px;
  margin: 0 30px 20px 0
}

#footer div.footer-links:last-child {
  margin-right: 0
}

#footer div.footer-links h3 {
  margin: 0 0 4px 0;
  font-size: 12px;
  color: #777
}

#footer div.footer-links ul li a {
  font-size: 12px;
  line-height: 1.8;
  font-weight: normal;
  color: #999
}

#footer div.footer-links ul li a:hover {
  color: #777
}

#footer div.footer-links ul li a:active {
  color: #444
}
