body{padding-top: 30px;}
a{color:#333;}
a:hover{text-decoration: none; color: rgb(111,190,45)}
/* common style */
.round{ border: solid 1px #ebebeb;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
.round-sm{-webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;}

span.round-sm{background-color: rgb(111,190,45); font-size: 12px; font-weight: bold; color: #fff;padding: 3px 6px;}

.with-count,
a.with-count:hover{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    border-color: rgb(111,190,45);
    background-color: rgb(111,190,45);
    color: #fff;
}
.social-share-button {height: 20px; padding: 2px;}
.social-count { padding: 0 7px 0; font-size: 11px; font-weight: bold;line-height: 20px;
    float: left;vertical-align: middle; 
    background-color: #fff;
    color: rgb(111,190,45);
    border: 1px solid rgb(111,190,45);
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.pagehead-actions {margin: 0;float: right;z-index: 21;}
.pagehead-actions>li {list-style-type: none;font-size: 11px;color: #333;margin: 0 10px 0 0;float: left;}

.box {border: 1px solid #ebebeb; background-color: #fff;}
.user .photo, .url .photo{border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%}

ul.items li.item:nth-child(5n){margin-right: 0}

.hd {position: relative; margin-bottom: 15px;}
.hd .pagination{position: absolute; right: 0}
.hd h2{font-size: 16px;height: 20px;line-height: 20px;float: left;color: #333;display: inline-block;}

.pagination li span{padding: 3px 6px;}
.pagination li input{width: 64px}

.tools {height: 50px; padding: 15px 0}
.tools em{padding: 2px 6px; border-color: rgb(111,190,45); color: rgb(111,190,45);}

/* item and style show page */
.user .photo{float: left;}
.user .name{font-weight: bold; color: rgb(111,190,45)}
.user div{margin-left: 64px;}
.user div p{margin: 0; padding: 3px 0px;}
.user .links a{margin-right: 15px;}

/* comment box style */
.comments textarea {display: block;float: left; width:100%;height: 60px;line-height: 24px;padding-left: 5px;border: 1px solid #357ebd;resize: none;color: #333;}
.comments .btn{height: 60px;padding: 10px 20px;}
.comments .col-sm-9{width: 100%; padding: 0}
.comments .avatar{width: 60px;}
.comments {padding: 5px;}
.comments .reply{border-bottom: solid 1px #f1f1f1; padding: 15px 15px;}
.comments .reply .name{padding-left: 10px;color: rgb(111,190,45); font-weight: bold;}
.comments .reply .body{padding: 0 45px 0 38px;font-size: 14px;line-height: 18px;color: #666;}
.comments .reply .time{color: #666; float: right; font-size: 9px}

#wrap{padding-bottom: 45px;}
#main{margin-top: 20px;}
/* navbar of top */
.navbar{min-height: 30px;}
.navbar-brand{padding: 0 15px;}
.navbar-nav>li>a{padding: 0 10px; line-height: 30px;}
/* .dropdown-menu {background-color: #222} */

/* search bar */
.search{height: 80px;padding: 20px 15px;; background-color: #fff}
.menu {background-color: rgb(111,190,45); height: 25px; line-height: 25px;}
.menu .home{text-align: center;}
.menu .glyphicon{font-size: 16px; color: #fff;}
.menu .nav li a{padding: 0; color: #fff}
.menu .nav li a:hover{background-color: transparent;}
.menu .nav li.active{background-color: #fff; }
.menu .nav li.active a{color: rgb(111,190,45); font-weight: bold; font-size: 15px}

/* account style */
#account .sider, #profile .sider{padding: 15px; min-height: 500px; background-color: rgb(243,243,243);}
#account .main, #profile .main{background-color: #fff; padding: 15px; min-height: 500px;}

#home .cat {margin-left: auto;margin-right: auto;width: 100%;}
#home .cat .sub{position: relative;}
#home .cat ul.first{position: absolute; left: 100px; top: -400px; background-color: #fff; width: 250px; height: 516px;}
#home .cat ul.first li{border-bottom: solid 1px #ebebeb; padding: 5px 10px;}
#home .cat ul li .title{font-size: 16px; font-weight: bold;}
#home .cat ol.secondary li{float: left; padding: 10px; border-bottom: none;}
/* slider of 3th row */
#home .slider {height: 419px; width: 100%; background: url(/assets/slider-bg.png); }
#home .slider .banner{width: 100%; height: 419px;}
#home .slider ul li{height: 419px; float: left}

#home .list, #home #groupon, #home .recommend{padding: 0 15px;}
#home #groupon .item {height: 380px;}

#home #styles .items li{margin-right: 30px;}
#home #styles .items li:nth-child(4){margin-right: 0}

/* recommend & lastest style */
.lastest{height: 380px; display: block}
.lastest ul li{float: left; width: 33%}

.recommend{height: 450px; display: block; background-color: #fff; padding: 15px;}
.recommend ul li{float: left; }

.list .header{float: left; width: 100%}
ul.items {padding: 0; margin: 0}
ul.items li {width: 215px; height: 425px; float:left; margin: 0 16px 15px 0px; background-color: #fff; border: solid 1px #ebebeb; overflow: hidden;}
ul.items li .cover{height: 270px; overflow: hidden; position: relative;}
ul.items li .cover img{height: 100%; width: 100%}
ul.items li .price{position: absolute; right: 10px; bottom: 10px; background-color: rgb(111, 190, 45); color:#fff;padding: 3px 8px;font-size: 11px; border: none}
ul.items li .title{padding: 5px; height: 25px; line-height: 25px; font-weight: bold; overflow: hidden;}
ul.items li .tools{height: 32px;padding: 5px 8px;}
ul.items li .tools span i{padding-right: 15px;}
ul.items li .tools span.count{border: 1px solid rgb(111,190,45); background-color:#fff; color: rgb(111,190,45); padding: 2px 6px;}
ul.items li .tools span.view{float: right; color:rgb(111,190,45);}
ul.items li .comment{padding: 10px 5px; font-size: 12px; color:#999;}

/* style details */


#styles .filter, #styles .list {margin: 0; padding: 0}

#styles div.round{background-color: #fff; }
#styles div.photo{border-right: solid 1px #ebebeb; padding: 15px;}
#styles div.photo img{width: 100%; margin-bottom: 20px;}
#styles div.info{padding: 15px;}
#styles h4.title{color:rgb(111,190,45); font-size: 13px;}
#styles ol li {position: relative; margin-top: 10px;}
#styles ol li .cover{width: 100px; float:left; padding: 10px; border-right: solid 1px #ebebeb;}
#styles ol li .item {height: 100px; margin-left: 100px; }
#styles ol li .title {padding: 10px;}
#styles ol li .buy{border-top: solid 1px #ebebeb;padding: 10px; color: rgb(111,190,45)}
#styles ol li .buy span{float: right;}
#styles ol li .plus {position: absolute; top: -1px; left: -14px; font-size: 7px; border:solid 1px #ebebeb; background-color: #fff; border-right: none; color:rgb(111,190,45);}

#styles .items .item {width:225px; height: 360px; float: left; border: solid 1px #ebebeb;  margin: 0 10px 15px 0;}
#styles .items .item .cover{height: 225px; overflow: hidden;}
#styles .items .item .thumb{padding:0 0 0 1px; margin: 0; width: 224px;}
#styles .items .item .thumb a{width: 55px;height: 55px;padding: 1px 1px 0 0;overflow: hidden;float: left; display: inline;}
#styles .items .item .thumb a img{width: 100%; height: 100%}
#styles .items .item .text{float: left; padding: 0 10px;cursor: pointer;}
#styles .items .item .user {font-size: 14px;font-weight: 700;color: #fc3c75;line-height: 26px;height: 26px;overflow: hidden;}
#styles .items .item .title{margin-bottom: 9px; padding: 0; color: #aaa;line-height: 18px;height: 18px;overflow: hidden; font-size: 12px; font-weight: normal;}
#styles .items .item:nth-child(5n){margin-right: 0}

#styles .filter .tabs li{ width: 150px; border-right: solid 1px #ebebeb; border-bottom: solid 1px #ebebeb; cursor: pointer; position: relative;}
#styles .filter .tabs li.active{border-right: none}
#styles .filter .tabs li.active a{color: rgb(111,190,45);}
#styles .filter .tabs li a{padding: 24px 15px 24px 34px; line-height: 26px; display: block; margin-left: 10px;}
#styles .filter .col-md-2{padding: 0}
#styles .filter .tabs li:nth-child(4n){border-bottom: none;}
#styles .new, #styles .actions{padding: 0; background-color: #fff;}
#styles .files{border-right: solid 1px #ebebeb; min-height: 450px;}
#styles .actions ul li{border-bottom: solid 1px #ebebeb; padding: 15px 10px; text-align: right;}
#styles .actions textarea{width: 100%; height: 68px;}
#styles .tools {margin-top: 20px;}
#styles .comment {padding: 15px 0; border-top: solid 1px #ebebeb; margin-top: 30px}

#styles .more .hd{padding-top: 20px; color: rgb(110,190,45); font-size: 18px;}
#styles .style{background-color: #fff; padding: 15px 0px; margin-bottom: 30px;}
#styles .style .cover img{width: 100%;}
#styles .links ul li{position: relative; height: 66px; padding: 5px 0px; border-top: 1px dashed #eee; line-height: 66px}
#styles .links ul li .cover{float: left; width: 50px; height: 50px; border: solid 1px #eee; display: inline; padding:  1px; margin-right: 5px; overflow: hidden;}
#styles .links ul li .cover img{width: 100%; height: 100%; display: block;}
#styles .links ul li .title{float: left; width: 50%; overflow: hidden; color: #999; white-space: nowrap;}
#styles .links ul li .price{position: absolute; right: 70px; font-size: 24px; font-weight: bold; color: red; float: right; }
#styles .links ul li .buy{float: right;}

/* item details */
#items .details .photo{border-right: 1px solid #ebebeb; padding: 0}
#items .details .info{padding: 0}
#items .details .zoom,
#items .details h4,
#items .details .thumb,
#items .details .comment,
#items .details .user,
#items .details .tools,
#items .details .buy{
    padding: 15px;}

#items .details .thumb,
#items .details .comment,
#items .details .user,
#items .details .tools,
#items .details .buy{
  padding: 20px;
  border-bottom: 1px dotted #ebebeb;
}

#items .details .zoom img{max-width: 100%}
#items #more img{width: 100%;}
#items .details .thumb li{float: left; width: 64px; margin-right: 5px;}
#items .details .thumb .active{border:2px solid #f40;}
#items .details .comment{ height: 120px; }
#items .info .price{font-size:40px; line-height: 45px; color: red}
#items .info .buy .url{float: right; font-size: 22px; line-height: 22px;padding: 10px 20px; cursor: pointer;}
#items .info .buy .url a{color: rgb(252,118,35);}
#items .info .tools {text-align: right;}
#items .guess{margin-top: 30px;}

/* category style */
.user dl dt{float: left; margin-right: 20px;}
.user .count{color: rgb(252,118,35); font-weight: bold;}

/* comment style */
dl.comment dt{float:left; width: 64px;}


/* new item */
.items-new ul.sites li{float: left; margin-right: 15px; height: 30px; line-height: 30px;}


/* user homepage */
#users .path{height: 60px; padding: 15px 0px}
#users .profile .photo{float: left;display: block;position: relative;margin: 0 10px 0 0;}
#users .profile-tabs li{float: left; margin-right: 20px;}
#users .profile .profile-actions{height: 100px; line-height: 100px;}
#users .profile .profile-actions a{font-size: 18px; font-weight: bold;}
#users ul.tabs{border-bottom: 1px solid #ddd;}
#users .tabs {border-bottom: none; background: url(/assets/border-2px.gif) repeat-x bottom left;}
#users .tabs li{position: relative;float: left;margin-right:20px;height: 32px; line-height: 32px;}
#users .tabs a{font-weight: bold; font-size: 16px}
#users ul.items li.item:nth-child(5n) {margin-right: 0;}

/* topics */
.topics {background-color: #fff; padding: 0}
.topics .list{border-right: solid 1px #ebebeb;min-height: 450px;}
.topics .topic {border-bottom: solid 2px #ebebeb;}
.topics .topic:last-child{border-bottom: none}
.topics .topic h2{font-size: 16px;}
.topics .topic .time{width:100%;float: right;text-align: right; color: #999}
.topics .topic .text{padding: 20px 0px;}
.topics .topic .thumb li{float: left; margin-right: 15px}
.topics .topic .more{width: 100%; text-align: right; padding: 14px;}
.topics .sider {padding: 0}
.topics .sider .new, 
.topics .sider .recommend,
.topics .sider .follow,
.topics .sider .user{border-bottom: solid 1px #ebebeb; padding: 20px;}
.topics .sider .new span{padding: 10px 15px;}
.topics .topic .context{ line-height: 28px;}
#topics #main .new{background-color: #fff}
#topics #main .new .edit{padding: 15px; border-right: solid 1px #ebebeb}