<div class="bs-sidebar hidden-print affix" role="complementary">
  <ul class="nav bs-sidenav">
    
    <li>
      <a href="/cpanel/"><i class="glyphicon glyphicon-dashboard"></i>控制面板</a>
    </li>

    <li >
      <a href="#dropdowns"><i class="glyphicon glyphicon-shopping-cart"></i>商品管理</a>
      <ul class="nav">
        <li><a href="/cpanel/items">单品</a></li>
        <li><a href="/cpanel/styles">搭配</a></li>
        <li><a href="/cpanel/tasks">采集任务</a></li>
      </ul>
    </li>

    <li >
      <a href="#dropdowns"><i class="glyphicon glyphicon-user"></i>用户管理</a>
      <ul class="nav">
        <li><a href="/cpanel/users">注册用户</a></li>
        <li><a href="#dropdowns-alignment">无效用户</a></li>
        <li><a href="#dropdowns-headers">达人</a></li>
      </ul>
    </li>

    <li >
      <a href="#dropdowns"><i class="glyphicon glyphicon-list"></i>类别/标签管理</a>
      <ul class="nav">
        <li><a href="/cpanel/category">商品分类</a></li>
        <li><a href="/cpanel/category/new">添加分类</a></li>
        <li><a href="/cpanel/tags">标签</a></li>
        <li><a href="/cpanel/tags/new">添加标签</a></li>
      </ul>
    </li>

    <li >
      <a href="#dropdowns"><i class="glyphicon glyphicon-th"></i>社区内容管理</a>
      <ul class="nav">
        <li><a href="/cpanel/sections">内容分类</a></li>
        <li><a href="/cpanel/nodes">二级节点</a></li>
        <li><a href="/cpanel/topics">主题</a></li>
      </ul>
    </li>

    <li >
      <a href="#dropdowns"><i class="glyphicon glyphicon-cog"></i>网站内容</a>
      <ul class="nav">
        <li><a href="/cpanel/catalogs">内容分类</a></li>
        <li><a href="/cpanel/pages">全部内容</a></li>
        <li><a href="/cpanel/positions">广告位置</a></li>
        <li><a href="/cpanel/ads">广告内容</a></li>
        <li><a href="/cpanel/sites">友情链接</a></li>
        <li><a href="#dropdowns-disabled">其它</a></li>
      </ul>
    </li>
  </ul>
</div>